* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('bg.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  font-family: 'Great Vibes', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 90vw;
  max-width: 600px;
  aspect-ratio: 9 / 16;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.video-container video {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  z-index: 2;
  padding: 0 10px;
}
